logs
*.log
npm-debug.log*

pids
*.pid
*.seed

build/Release
**/node_modules

.DS_Store
.next/
variables-local.env
deco*.json
dev.env
ngrok

docker-compose.yml
docker_secrets/*.txt
.vscode/settings.json
